[bonus-wallet-js-sdk](../README.md) / [Exports](../modules.md) / ValidationResult

# Interface: ValidationResult

## Table of contents

### Properties

- [factoryInfo](ValidationResult.md#factoryinfo)
- [paymasterInfo](ValidationResult.md#paymasterinfo)
- [returnInfo](ValidationResult.md#returninfo)
- [senderInfo](ValidationResult.md#senderinfo)

## Properties

### factoryInfo

• **factoryInfo**: [`StakeInfo`](StakeInfo.md)

#### Defined in

[types/result.ts:35](https://github.com/study-core/bonus-wallet-js-sdk/blob/a6cc21a/src/types/result.ts#L35)

___

### paymasterInfo

• **paymasterInfo**: [`StakeInfo`](StakeInfo.md)

#### Defined in

[types/result.ts:36](https://github.com/study-core/bonus-wallet-js-sdk/blob/a6cc21a/src/types/result.ts#L36)

___

### returnInfo

• **returnInfo**: [`ReturnInfo`](ReturnInfo.md)

#### Defined in

[types/result.ts:33](https://github.com/study-core/bonus-wallet-js-sdk/blob/a6cc21a/src/types/result.ts#L33)

___

### senderInfo

• **senderInfo**: [`StakeInfo`](StakeInfo.md)

#### Defined in

[types/result.ts:34](https://github.com/study-core/bonus-wallet-js-sdk/blob/a6cc21a/src/types/result.ts#L34)
